html, body {
    min-height: 100%;
    height: auto;
	width: 100%;
}

body {
	background-image: url('https://images.pexels.com/photos/912110/pexels-photo-912110.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

#wrapper {
    height: auto;
    height: 100%;
}

.bg-custom {
	background-image: linear-gradient(to right,rgba(51, 146, 235, 0.85), rgba(0, 60, 138, 0.85));
}

.box {
	display: inline-block;
	height: 120px;
	width: 160px;
	background-color: #fff;
	border: 1px solid #333;
}