html {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.bg-custom {

    background-image: linear-gradient(to right,rgba(51, 146, 235, 0.85), rgba(0, 60, 138, 0.85));
    padding: 70px;
}

#text_container {
    margin: 0 auto;
    max-width: 1000px;
    /* border: 1px solid red; */
}